.container {
    padding-bottom: 20px;
    background-color: white;
}

.container h3 {
    width: calc(100% - 20px);
    max-width: 1800px;
    font-size: 2rem;
}

.container a {
    z-index: -10;
}

.container section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    
    width: 100%;
    max-width: 1200px;
    height: 100%;
}