.container {
    padding-bottom: 20px;
}

.container a {
    z-index: -10;
}

.container section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container figure {
    height: 170px;
    width: 140px;
    display: grid;
    grid-template-rows: 1fr 20px;
}

.container figure img {
    height: 100px; 
    transition-duration: 300ms;
}

.container figcaption {
    font-size: 1.1rem;
    text-align: center;
}

.container figure img:hover {
    height: 120px;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    
    width: 100%;
    max-width: 1200px;
    height: 100%;
}