.container {
    width: 100%;
    padding-bottom: 40px;
    background-color: white;
}

.profile {
    aspect-ratio: 1;
    height: 380px;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    max-width: 1600px;
}

.content p {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 5px;
    
    font-size: 1.5rem;
    text-align: center;
}

.content a {
    text-decoration: none;
}

.contact {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    max-width: 650px;
    margin-top: 20px;
}