.container {
    background-color: white;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 20px black;
    margin: 20px;
}

.container > div {
    max-width: 600px;
    text-align: center;
}

.container img[alt$="page"]{
    width: 100%;
}

.container h3 {
    margin: 10px;
    color: var(--colour-light);
    font-family: 'Roboto Mono', monospace;
    font-size: 3.3rem;
    text-align: center;
}

.container p {
    margin-left: 10px;
    margin-right: 10px;

    color: rgb(99, 99, 99);
    font-size: 1.2rem;
    font-weight: bold;
}

.container a {
    display: inline-flex;

    margin: 20px;
    padding: 5px;
    border: 1px solid black;

    font-size: min(1.5rem, 4vw);
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    text-decoration: none;
}

.container a:hover {
    color: white;
    background-color: var(--colour-dark);
}

.container ul {
    margin-top: 40px;
}

.container ul img {
    height: 75px;
    z-index: 5000;
}

.container ul {
    all:unset;
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 40px;
}

.container li {
    all: unset;
    height: fit-content;
    z-index: 200;
}