.container {
    position: relative;

    height: 100vh;
    padding-bottom: 40px;
}

h1 {
    height: 270px;
    width: 100%;
    
    font-size: min(15rem, 14vw);
    text-align: center;
    font-weight: 1000;

    text-shadow: 0 0 10px black;
    overflow: hidden;
}

h1 span {
    position: relative;
    font-family: 'Roboto Mono', monospace;
}

.left {
    color: white;
    animation: slideLeft 2s cubic-bezier(0.25, 0.91, 0.47, 0.99);
}

.right {
    color: var(--colour-light);
    animation: slideRight 2s cubic-bezier(0.25, 0.91, 0.47, 0.99);
}

.container p {
    position: relative;
    
    width: 100%;

    color: white;
    
    font-size: min(2rem, 5vw);
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px black;

    animation: fadeIn 3s;
}

.gridContainer {
    position: relative;
    top: var(--h2-offset);

    display: grid;
    grid-template-rows: var(--navbar-height) 1fr var(--navbar-height);

    height: calc(100% - var(--h2-offset));
    width: 100%;
}

.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

@keyframes slideLeft {
    0% {
        right: 100vw;
    }

    100% {
        right: 0;
    }
}

@keyframes slideRight {
    0% {
        left: 100vw;
    }

    100% {
        left: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 50px;
    }

    66% {
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 120px;
    }

    .left {
        display: block;
        top: 35px;
    }

    .right {
        display: block;
        bottom: 35px;
    }
}

