:root {
    --background-white: rgba(255, 255, 255, 0.9);
    --navbar-height: 40px;
}

.linkContainer {
    position: fixed;
    background-color: var(--background-white);
}

.linkContainer a {
    all: unset;

    color: var(--colour-light);
        
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;

    cursor: pointer;
}

.linkContainer a:hover {
    text-decoration: underline overline;
}

/*desktop*/
@media screen and (min-width: 800px) {
    .buttonContainer {
        display: none;
    }

    .linkContainer {
        height: var(--navbar-height);
        width: calc(100% - var(--scroll-bar-width));
        padding-right: 10px;
        padding-left: 100px;

        text-align: right;

        z-index: 10000;
    }

    .linkContainer a {
        margin-left: 40px;
        font-size: 2.2rem;
    }
}

/*mobile*/
@media screen and (max-width: 800px) {
    .buttonContainer {
        position: fixed;
        top: 0;

        background-color: var(--background-white);

        width: calc(100% - var(--scroll-bar-width));
        height: var(--navbar-height);
        padding-right: 10px;

        text-align: right;

        z-index: 10000;
    }

    .buttonContainer button {
        width: fit-content;
        margin-top: 5px;
    }

    .buttonContainer button > img {
        aspect-ratio: 1;
        height: 30px;

        opacity: 0.8;
    }

    .linkContainer {
        top: var(--navbar-height);

        flex-direction: column;
        justify-content: space-evenly;

        height: calc(100% - var(--navbar-height));
        width: calc(100% - var(--scroll-bar-width));

        z-index: 100000000;
    }

    .linkContainer a {
        padding-right: 5px;

        color: var(--colour-light);

        text-align: right;
        font-size: min(5rem, 18vw)
    }

    .flex {
        display: flex;
    }

    .hidden {
        display: none;
    }
}
