:root {
    --background-white: rgba(255, 255, 255, 0.95);
    --navbar-height: 40px;
}

.linkContainer {
    position: fixed;
    background-color: var(--background-white);
}

.linkContainer a {
    all: unset;

    color: var(--colour-light);
        
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;

    cursor: pointer;
}

.linkContainer a:hover {
    text-decoration: underline overline;
}

/*desktop*/
.buttonContainer {
    display: none;
}

.linkContainer {
    height: var(--navbar-height);
    width: calc(100% - var(--scroll-bar-width));
    padding-right: 10px;
    padding-left: 100px;

    text-align: right;

    z-index: 10000;
}

.linkContainer a {
    margin-left: 40px;
    font-size: 2.2rem;
}


/*mobile*/
@media screen and (max-width: 800px) {
    .buttonContainer {
        display: block;

        position: fixed;
        top: 0;

        background-color: var(--background-white);

        width: calc(100% - var(--scroll-bar-width));
        height: var(--navbar-height);
        padding-right: 10px;

        text-align: right;

        z-index: 10000;
    }

    .buttonContainer button {
        width: fit-content;
        margin-top: 5px;
    }

    .buttonContainer button > img {
        aspect-ratio: 1;
        height: 30px;

        opacity: 0.8;
    }

    .navContainer {
        position: absolute;
        top: var(--navbar-height);
        width: calc(100% - var(--scroll-bar-width));
        overflow: hidden;
    }

    .linkContainer {
        position: relative;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: calc(50% - var(--navbar-height));
        width: 100%;

        transition-duration: 500ms;

        z-index: 100000000;
        overflow: hidden;
    }

    .linkContainer a {
        position: relative;
        padding-right: 5px;
        left: 0;

        color: var(--colour-light);

        text-align: right;
        font-size: min(5rem, 18vw);
        transition-duration: 500ms;
    }

    .hidden {
        top: -500px;
    }

    .hidden a{
        left: 100vw;
    }
}
