:root {
    --background-white: rgba(255, 255, 255, 0.9);
    --navbar-height: 50px;
}

.linkContainer {
    position: fixed;
    background-color: var(--background-white);
    overflow: hidden;
}

.linkContainer a {
    all: unset;

    color: var(--colour-light);
        
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;

    cursor: pointer;
}

.linkContainer a:hover {
    color: var(--colour-dark);

    transition-delay: 0ms;
    transition-duration: 50ms;
}

/*desktop*/
@media screen and (min-width: 1100px) {
    .buttonContainer {
        display: none;
    }

    .linkContainer {
        height: var(--navbar-height);
        width: calc(100% - var(--scroll-bar-width));
        padding-right: 10px;
        padding-left: 200px;

        text-align: right;

        z-index: 10000;
    }

    .linkContainer a {
        position: relative;
        bottom: 7px;

        margin-left: 40px;

        font-size: 3rem;
    }
}

/*mobile*/
@media screen and (max-width: 1100px) {
    .buttonContainer {
        display: block;

        position: fixed;
        top: 0;

        background-color: var(--background-white);

        width: calc(100% - var(--scroll-bar-width));
        height: var(--navbar-height);
        padding-right: 10px;

        text-align: right;

        z-index: 10000;
    }

    .buttonContainer button {
        margin-top: 10px;
    }

    .buttonContainer button > img {
        aspect-ratio: 1;
        height: 30px;

        filter: opacity(0.75) drop-shadow(0 0 0 var(--colour-light));
    }

    .navContainer {
        position: absolute;
        top: var(--navbar-height);

        width: calc(100% - var(--scroll-bar-width));

        overflow: hidden;
    }

    .linkContainer {
        position: relative;
        top: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        height: calc(50% - var(--navbar-height));
        width: 100%;

        transition-duration: 500ms;

        z-index: 100000000;
        overflow: hidden;
    }

    .hidden {
        top: -500px;
    }

    :nth-child(1) {--nth-delay: 125ms}
    :nth-child(2) {--nth-delay: 250ms}
    :nth-child(3) {--nth-delay: 375ms}
    :nth-child(4) {--nth-delay: 500ms}

    .linkContainer a {
        position: relative;
        left: 0;
        
        font-size: 5rem;
        text-align: right;

        transition-duration: 500ms;
        transition-delay: var(--nth-delay);
        transition-property: left;
    }

    .hidden a{
        left: 100vw;

        transition-delay: 0ms;
        transition-property: left;
    }
}
