.container {
    display: grid;
    grid-template-rows: 1fr 20px;    

    height: 170px;
    width: 140px;
}

.container img {
    height: 100px; 
    transition-duration: 300ms;
}

.container img:hover {
    height: 120px;
}

.container figcaption {
    font-size: 1.1rem;
    text-align: center;
}