* {
  box-sizing: border-box;
  margin: auto;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
  font-family: 'Dosis', sans-serif;
  color: var(--almost-black);
}

:root {
  --almost-black: rgb(31, 31, 31);
  --colour-light: rgb(0, 158, 250);
  --colour-dark: rgb(0, 47, 78);
  --scroll-bar-width: 15px;
  --h2-offset: -10px;
}

body {
  height: 100vh;
}

body > div {
  height: 100%;
  width: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
  background: none;
  background-color: rgb(244, 244, 244);
}

::-webkit-scrollbar-thumb {
  background-color: var(--colour-dark);
  border-radius: 2px;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  cursor: pointer;
}

h2 {
  display:inline-block;

  position: -webkit-sticky;
  position: sticky;
  top: var(--h2-offset);
  left: 0px;
  
  height: auto;
  width: 100%;
  padding-left: 5px;

  color: var(--colour-dark);
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  font-weight: 1000;
  text-transform:uppercase;

  pointer-events: none;
  z-index: 11000;
}

img {
  z-index: 2000;
}

section {
  display: block;
  position: relative;
}